/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: #21818c;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 34px;
    font-weight: bold;
    color: #fff;
    font-family: 'Streetwear', cursive;
    margin-left: 20px; /* Adjusted margin for spacing */
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: border-bottom 0.3s ease; /* Transition for smooth effect */
}

/* Adding underline on hover */
header nav ul li a:hover {
    border-bottom: 2px solid #fff;
}

/* Section Styles */
section {
    padding: 50px 0;
    text-align: center; /* Centering section content */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Work Item Styles */
.work-item {
    margin-bottom: 40px;
    text-align: center; 
    position: relative; /* Positioning for overlay */
    overflow: hidden; /* Hide overflow for overlay */
    border: 2px solid transparent; /* Initial border */
    transition: border-color 0.3s ease; /* Transition for smooth effect */
}

.work-item:hover {
    border-color: black; /* Border color on hover */
}

.work-item img {
    width: 50%; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: filter 0.3s ease; /* Transition for smooth effect */
}

.work-item:hover img {
    filter: blur(5px); /* Apply blur effect on hover */
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Overlay color with transparency */
    padding: 10px; /* Padding for text */
    transition: background-color 0.3s ease; /* Transition for smooth effect */
}

.work-item:hover .overlay {
    background-color: rgba(255, 255, 255, 0.8); /* Adjusted transparency on hover */
}

/* Text Styles */
.overlay p {
    color: #333;
    font-weight: bold;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* About Section Styles */
#about {
    background-color: #5d5d5d4f;
    padding: 20px;
    margin-top: 20px;
}

#about p {
    margin-bottom: 20px;
    font-size: 20px;
}

.profile-pic-container {
    text-align: center;
    margin-top: 20px;
}

.profile-pic {
    width: 150px; /* Adjusted width */
    height: 150px; /* Adjusted height */
    border-radius: 50%; /* Circular border */
}

.contact-icons {
    display: flex;
    justify-content: center;
}

.contact-icon {
    margin: 0 10px; 
}

/* Adding border and hover effect to contact icons */
.contact-icon img {
    border: 2px solid transparent; /* Initial border */
    transition: border-color 0.3s ease; /* Transition for smooth effect */
}

.contact-icon img:hover {
    border-color: black; /* Border color on hover */
}

/* Responsive Container */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px; /* Adjusted padding for smaller screens */
    }

    header {
        padding: 10px 0; /* Adjusted padding for smaller screens */
    }

    header .container {
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        margin-left: 0; /* Centering the h1 on smaller screens */
        margin-bottom: 20px; /* Added margin for spacing */
    }

    header nav ul li {
        display: block;
        margin-bottom: 10px; /* Added margin for spacing */
    }

    .work-item img {
        width: 100%; /* Adjusted width for smaller screens */
    }
}
